<head>
  <link href="https://www.dafontfree.net/embed/YWxpcXVhbS1yZWd1bGFyJmRhdGEvNDIvYS85MTUzNC9BbGlxdWFtUkVHLnR0Zg"
    rel="stylesheet" type="text/css" />
</head>

<ion-header class="ion-no-border">
  <div class="header">
    <div style="display: flex; align-items: center;">
      <img style="height: 80px; width: auto" src="/assets/icon/logo_size.jpg" alt="">
    </div>
    <div style="display: flex;">
      <div (click)="changeMenu(eve)" [ngClass]="chosenMenu == eve.toLowerCase() ? 'chosenMenu': 'menuC'" *ngFor="let eve of menu">
        {{eve}}
      </div>

    </div>
  </div>
</ion-header>

<ion-content>

  <div id="home" class="page" style="height: calc( 100vh - 96px); width: 100%; position: relative;">
    <div
      style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: #7b9fcf; opacity: 1; z-index: 1; padding: 16px">
    </div>
    <div [ngClass]="counter > 0 ? 'upper' : 'upperX'"
      style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 3; background: none; padding: 32px; color: #fafafa; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <img style="height: 250px; width: auto" src="/assets/kid_job_boy_programmer.png" alt="">
      <h1 class="h1" style="color: #fafafa; font-size: 48px">Hi, I'm Eugene from Malaysia</h1>
      <h2 class="h2" style="color: #fafafa;">and I'm a self-taught UI/UX designer / front-end developer.</h2>
      <div class="contactButton">Contact me!</div>

    </div>
  </div>

  <div id="about" class="page" style="height: calc( 100vh - 96px); width: 100%; background: #B0CEFF; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="padding: 16px; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
      <h1 [ngClass]="counter > 0 ? 'testText' : 'xtestText'" style="font-size: 32px; font-weight: 600; color: #0741ad">About me</h1>
      <h3 [ngClass]="counter > 0 ? 'testText' : 'xtestText'" style="font-size: 20px; font-weight: 100; color: #0741ad">Just someone who loves to code.</h3>
    </div>
    <div [ngClass]="counter > 0 ? 'testText' : 'xtestText'" style="display: flex; justify-content: center; align-items: center; background: #fafafa; border-radius: 10px; width: fit-content; padding: 16px; border: 2px solid #333333;">
      <div style="width: 30vw;margin-right: 6vw">
        <h3 [ngClass]="counter > 0 ? 'testText' : 'xtestText'" style="transition-delay: 0.1s; font-size: 20px; color: #555555; margin-right: -150px">Born and raised in Malaysia,
          I've always been facinated with the world of IT but never really stepped into it untill the age of 24. Since then,
          I have been learning new and better ways to code everyday while getting whatever work experience I can grasp my
          hands on.</h3>
          <h2 [ngClass]="counter > 0 ? 'testText' : 'xtestText'" style="font-size: 22px; margin-bottom: 24px; transition-delay: 0.15; color: #0741ad">Through my learning experience, my
            skillstack now includes:</h2>
          
            <div [ngStyle]="{height : platform.height() < 769 ? '250px' : 'auto'}" style="overflow: auto;">
              <div *ngFor="let eve of skillStack" style="display: flex; align-items: center; margin-bottom: 16px;">
                <div style="height: 32px; width: 32px; border-radius: 10px; display: flex; align-items: center; justify-content: center; margin-right: 8px;">
                  <img [ngClass]="counter > 0 ? 'testTextL' : 'xtestTextL'" style="height: 100%; width: 100%; object-fit: cover;" src="{{eve.img}}" alt="">
                </div>
                <div [ngClass]="counter > 0 ? 'testTextL' : 'xtestTextL'" style="font-size: 18px; color: #1F456E">- {{eve.name}}</div>
              </div>
            
            <div style="display: flex; align-items: center; margin-bottom: 8px">
              <div style="font-size: 28px; color: #0741ad">- and the stack goes on!</div>
            </div>
            </div>
      </div>
      <div style="width: 30vw">
        <img [ngStyle]="{height: platform.height > 768 ? '300px' : '300px'}" style="border-bottom-left-radius: 12vh; border-bottom-right-radius: 12vh; margin-top: 88px; width: auto" src="/assets/job_programmer.png" alt="">
      </div>
      
    </div>
  </div>

  <div id="projects" class="page" style="height: calc( 100vh - 96px ); width: 100%; background: #B0CEFF"></div>

  <div id="contact" class="page" style="height: calc( 100vh - 96px); width: 100%; background: #7b9fcf"></div>

</ion-content>